<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error{
                color:red;
            }
            h1{
                text-align: center;
            }
        </style>
    </head>
    <body>
        <nav>
            <a href="/blog">Main Blog Page</a>  <a href="/newpost">Add a blog entry</a>
             <a href="/login">Login</a> <a href="/logout">Logout</a>
        </nav>

        {% block content %}
        {% endblock %}

    </body>
</html>